<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="SerialDebugger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="SerialPortDebugger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <SerialDebugger.Properties.Settings>
            <setting name="HexDisplay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HexSend" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SendNewLine" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Encoder" serializeAs="String">
                <value>UTF-8</value>
            </setting>
        </SerialDebugger.Properties.Settings>
        <SerialPortDebugger.Properties.Settings>
            <setting name="HexDisplay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HexSend" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SendNewLine" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PortName" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DataBits" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Encoder" serializeAs="String">
                <value>UTF-8</value>
            </setting>
        </SerialPortDebugger.Properties.Settings>
    </userSettings>
</configuration>
